.banner-interno__titulo__icono i
  color: #7F4FC7 !important
  
.banner-principal__row .banner-principal__img
  width: 33%

.bloque-texto-c::after
  top: -25px

.bloque-texto-c.color-secundario
  background-color: #F6F6F6

.tarjeta.color-acento-4
  background-color: #FFFFFF

.tarjeta--azul
  background-image: url(../assets/curso/tema1/img17.svg)
  background-repeat: no-repeat
  background-size: cover

.tarjeta--rosa
  background-color: #EDE7F7

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #7F4FC7

.tarjeta-flip.color-primario .tarjeta-flip__img
  background-color: white

.tarjeta-flip.color-primario .tarjeta-flip__contenido
  background-color: #7F4FC7
  color: white

.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus
  background-color: #7F4FC7

.tabs-a.color-acento-botones .tabs-a__tab__selected::before
  background-color: #7F4FC7

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #7F4FC7

.tabs-a__tab
  background-color: #E0D5F1

.tarjeta.color-acento-botones
  background-color: #F4F1FA

.tabla-a.color-acento-botones thead
  border-color: #FFA726

.tabla-a thead
  background-color: #12263F
  color: white

td, th
  border: 1px solid #AFAFAF

.titulo-sexto.color-acento-contenido
  border-left-color: #FFA726

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #EFD198

.bloque-texto-a.color-secundario
  background-color: #E8E8E8

.bloque-texto-a.color-secundario::before
  background-color: #2194E5
  left: 35%

.tarjeta.color-primario
  background-color: #7F4FC7

.tarjeta.color-secundario
  background-color: #2194E5

.tarjeta.color-acento-terciario
  background-color: #7a45d9
  background-image: linear-gradient(270deg, #7a45d9 0%, #9474ca 100%)

.titulo-sexto.color-acento-botones
  border-left-color: #7F4FC7

.tabs-c__content-item
  background-image: url(../assets/curso/tema2/img11.svg)
  background-repeat: no-repeat
  background-size: cover

.tabs-c
  border-bottom: 0px

.tarjeta.tarjeta--gris
  background-color: #E2E2E2

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  font-size: 20px

.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #7F4FC7 !important

.tabs-c.color-primario .tabs-c__tab--active::before
  border-top-color: #7F4FC7

.tabs-c__tab--active
  color: #7F4FC7
  font-weight: bold

.slyder__btn:hover
  background-color: #7F4FC7

.data-v-e258dbfc
  h3
    color: #7F4FC7

.bg-color1
  background-color: #DDEDF8

.bg-color2
  background-image: url(../assets/curso/tema1/img10.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color3
  margin-inline: -3.2rem !important
  background-color: #080383
  background-image: linear-gradient(160deg, #080383 0%, #5c3cb2 100%)

.bg-color4
  background-image: url(../assets/curso/tema1/img18.svg)
  background-position-y: 220px
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: 1500px

.bg-color5
  background-image: url(../assets/curso/tema2/img1.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color6
  background-color: #FFFAD8

.bg-color7
  background-color: #EDE7F7

.bg-color8
  background-color: #F6F6F6

.bg-color9
  background-color: #EFF6FC
  margin-inline: -3.2rem !important

.bg-color10
  background-image: url(../assets/curso/tema2/img23.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color11
  background-color: #FFFAD8
  margin-left: -9rem
  padding: 1.5rem

.bg-color12
  background-color: #FFFAD8
  border-radius: 20px

.bg-color13
  background-image: url(../assets/curso/tema4/img3.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color14
  background-image: url(../assets/curso/tema5/img5.svg)
  background-position-y: 300px
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover
  margin-bottom: -48px

.bg-color15
  background-color: #E0D5F1
  border-radius: 10px

.txt-deco1
  color: #7F4FC7
  font-weight: bold

.txt-deco2
  color: #3CFFE9
  font-weight: bold

.txt-deco3
  background-color: #EDE7F7
  padding: 3px

.txt-deco4
  background-color: #DDEDF8
  padding: 3px

.img-position1
  position: relative
  right: 80px

.img-position2
  position: relative
  right: 40px

.img-position4
  position: relative
  left: 106px
  width: 124px

.linea1
  border-right: 3px dashed white

@media screen and ( max-width: 1200px )

  .img-position4
    left: 80px

@media screen and ( max-width: 992px )

  .img-position1
    right: 0px

  .img-position2
    right: 30px

  .img-position3
    transform: rotate(90deg)
  
  .img-position4
    left: 60px
    width: 80px

  .bg-color11
    margin-left: 0px

  .bg-color14
    margin-bottom: -24px

  .bg-color15
    border-radius: 0px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

  .linea1
    border-right: 0px dashed white

@media screen and ( max-width: 768px )

  .img-position4
    left: 30px
    width: 80px