.banner-interno__titulo__icono i
  color: #7F4FC7 !important
  
.banner-principal__row .banner-principal__img
  width: 33%

.bloque-texto-c::after
  top: -25px

.bloque-texto-c.color-secundario
  background-color: #F6F6F6

.tarjeta.color-acento-4
  height: 100%
  background-color: #FFFFFF
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.horizontal-scroll__wrapper
  padding: 2rem 0.0rem 

.horizontal-scroll
  align-items: stretch !important

.tarjeta--azul
  background-image: url(../assets/curso/tema1/img17.svg)
  background-repeat: no-repeat
  background-size: cover
  background-color: #FFF

.tarjeta--rosa
  background-color: #EDE7F7

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #7F4FC7
  background-size: 24px

.tarjeta-flip.color-primario .tarjeta-flip__img
  background-color: white

.tarjeta-flip.color-primario .tarjeta-flip__contenido
  background-color: #7F4FC7
  color: white

.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus
  background-color: #7F4FC7

.tabs-a.color-acento-botones .tabs-a__tab__selected::before
  background-color: #7F4FC7

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #7F4FC7

.tabs-a__tab
  background-color: #E0D5F1

.tarjeta.color-acento-botones
  background-color: #F4F1FA

.tarjeta.color-acento-botones1
  background-color: #EDE7F7

.tabla-a.color-acento-botones thead
  border-color: #FFA726

.tabla-a thead
  background-color: #12263F
  color: white

td, th
  border: 1px solid #AFAFAF

.titulo-sexto.color-acento-contenido
  border-left-color: #FFA726

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #EFD198

.bloque-texto-a.color-secundario
  background-color: #E8E8E8

.bloque-texto-a.color-secundario::before
  background-color: #2194E5
  left: 35%

.tarjeta.color-primario
  background-color: #7F4FC7

.tarjeta.color-secundario
  background-color: #2194E5

.tarjeta.color-acento-terciario
  background-color: #7a45d9
  background-image: linear-gradient(270deg, #7a45d9 0%, #9474ca 100%)

.titulo-sexto.color-acento-botones
  border-left-color: #7F4FC7

.tabs-c__content-item
  background-image: url(../assets/curso/tema2/img11.svg)
  background-repeat: no-repeat
  background-size: cover

.tabs-c
  border-bottom: 0px

.tarjeta.tarjeta--gris
  background-color: #E6E6E6

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  font-size: 20px

.tabs-c.color-primario .tabs-c__tab--active
  border-bottom-color: #7F4FC7 !important

.tabs-c.color-primario .tabs-c__tab--active::before
  border-top-color: #7F4FC7

.tabs-c__tab--active
  color: #7F4FC7
  font-weight: bold

.slyder__btn:hover
  background-color: #7F4FC7

.data-v-e258dbfc
  h3
    color: #7F4FC7

.tarjeta--boton
  background: rgb(8,3,131)
  background: linear-gradient(180deg, rgba(8,3,131,1) 0%, rgba(68,44,165,1) 100%)

.tarjeta--boton.color-primario:active, .tarjeta--boton.color-primario:focus, .tarjeta--boton.color-primario:hover
  h3
    color: #3CFFE9

.crd_hover_txt1
  position: relative  
  padding: 0 !important
  overflow: hidden  
  
  &:hover    
    .crd_hover_txt--font     
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--font
    position: absolute
    padding: 2rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 4.5rem ))
    background-color: #7F4FC7
  
.crd_hover_txt2
  position: relative  
  padding: 0 !important
  overflow: hidden  
  
  &:hover    
    .crd_hover_txt--font     
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1) 
      transform: translateY(0)
  .crd_hover_txt--font
    position: absolute
    padding: 2rem
    bottom: 0    
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 4.5rem ))
    background-color: #2194E5

.tabs-c__header
  margin-bottom: 0px

.tarjeta-avatar-b__img
  min-width: 14%
  max-width: 14%

.tarjeta-avatar-b .tarjeta
  margin-left: -10%
  padding-left: 6%

.bg-color1
  background-color: #DDEDF8

.bg-color2
  background-image: url(../assets/curso/tema1/img10.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color3
  margin-inline: -3.2rem !important
  background-color: #080383
  background-image: linear-gradient(160deg, #080383 0%, #5c3cb2 100%)

.bg-color4
  background-image: url(../assets/curso/tema1/img18.svg)
  background-position-y: 220px
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: 1500px

.bg-color5
  background-image: url(../assets/curso/tema2/img1.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color6
  background-color: #FFFAD8

.bg-color7
  background-color: #EDE7F7

.bg-color8
  background-color: #F6F6F6

.bg-color9
  background-color: #EFF6FC
  margin-inline: -3.2rem !important

.bg-color10
  background-image: url(../assets/curso/tema2/img23.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color11
  background-color: #FFFAD8
  margin-left: -9rem
  padding: 1.5rem

.bg-color12
  background-color: #FFFAD8
  border-radius: 20px

.bg-color13
  background-image: url(../assets/curso/tema4/img3.svg)
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover

.bg-color14
  background-image: url(../assets/curso/tema5/img5.svg)
  background-position-y: 300px
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: cover
  margin-bottom: -48px

.bg-color15
  background-color: #E0D5F1
  border-radius: 10px

.bg-color16
  background-color: #EDE7F7
  margin-inline: -3.2rem !important

.bg-color17
  background-image: url(../assets/curso/tema2/img5.png)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px
  height: 400px

.bg-color18
  background-image: url(../assets/curso/tema2/img6.png)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px
  height: 400px

.bg-color19
  background-image: url(../assets/curso/tema2/img7.png)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px
  height: 400px

.bg-color20
  background-image: url(../assets/curso/tema2/img23.svg)
  background-position-y: 190px
  margin-inline: -3.2rem !important
  background-repeat: no-repeat
  background-size: contain

.bg-color21
  background-color: #C5E5FE
  border-top-left-radius: 15px
  border-top-right-radius: 15px

.bg-color22
  background-color: #DDEDF8
  padding: 4px

.bg-color23
  background-image: url(../assets/curso/tema6/img3.png)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px
  height: 400px

.bg-color24
  background-image: url(../assets/curso/tema6/img4.png)
  background-repeat: no-repeat
  background-size: cover
  border-radius: 15px
  height: 400px

.txt-deco1
  color: #7F4FC7
  font-weight: bold

.txt-deco2
  color: #3CFFE9
  font-weight: bold

.txt-deco3
  background-color: #EDE7F7
  padding: 3px

.txt-deco4
  background-color: #DDEDF8
  padding: 3px

.txt-deco5
  font-size: 18px

.img-position1
  position: relative
  right: 80px

.img-position2
  position: relative
  right: 40px

.img-position4
  position: relative
  left: 106px
  width: 124px

.linea1
  border-right: 3px dashed white

@media screen and ( max-width: 1200px )

  .img-position4
    left: 80px

@media screen and ( max-width: 992px )

  .img-position1
    right: 0px

  .img-position2
    right: 30px

  .img-position3
    transform: rotate(90deg)
  
  .img-position4
    left: 60px
    width: 80px

  .bg-color11
    margin-left: 0px

  .bg-color14
    margin-bottom: -24px

  .bg-color15
    border-radius: 0px
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px

  .linea1
    border-right: 0px dashed white

@media screen and ( max-width: 768px )

  .img-position4
    left: 30px
    width: 80px